body{
    display: flex; 
    justify-content: center;
}

.block{
    position: absolute;
    gap: 40px;
    border: 1px solid black; 
    padding: 100px;
    border-radius: 10px;
}
.content{
    display: flex;
}
.secondblock{
    display: flex;
    flex-direction: column;
}
textarea{
    padding:0;
}
#button{
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(50, 50, 209);
    color: white;
    border-radius: 5px; 
    border: none;
}
#name{
    height: 100%;
}